[Logging.Console]

## Enables showing a console for log output.
Enabled = true

[Logging.Disk]

## Enables writing log messages to disk.
Enabled = true

[Preloader.Entrypoint]

## My Winter Car requires MonoBehaviour entry (Unity 5 legacy Mono).
Type = MonoBehaviour

[Preloader]

## Harmony backend
HarmonyBackend = auto
